<html>
  <head>
  <br>
    <div class=""><h2>
        Here are some tips that may help...
    </h2></div>
  </head>

  <body>
    <dl>
      <dt>
        Bar Chart
      </dt>
      <dd>
        Commonly used to measure the changes over a perirod of time. (source:<a href="https://dzone.com/articles/types-of-matplotlib-in-python#:~:text=Matplotlib%20in%20Python%20is%20a,plot%20for%20viewing%20the%20data.">DZone</a>)
      </dd>
      <dt>
        Box Plot
      </dt>
      <dd>
        Demonstrates the locality, spread, and skewness groups of numerical data through their quartiles.(source:<a href="https://en.wikipedia.org/wiki/Box_plot">Wikipedia</a>)
      </dd>
      <dt>
        Histogram
      </dt>
      <dd>
        Approximate representation of the distribution of numerical data. (source:<a href="https://en.wikipedia.org/wiki/Histogram">Wikipedia</a>)
      </dd>
      <dt>
        Line Chart
      </dt>
      <dd>
        Displays information as a series of data points that are cpmmected by straight line segments.(source:<a href="https://en.wikipedia.org/wiki/Line_chart">Wikipedia</a>)
      </dd>
      <dt>
        Scatter Plot
      </dt>
      <dd>
        Displays values for typically two variables for a set of data. With different coded points(i.e. colors, shapes, sizes, etc.), one additional variable can be displayed.(source:<a href="https://en.wikipedia.org/wiki/Scatter_plot">Wikipedia</a>)
      </dd>
    </dl>
  </body>
</html>
