<html>
  <head>
    <div class ="">
      <h1>
        Yet Another Py-Ploting Arguments Generator
      </h1>
    </div>
  </head>

  <body>
    <div class ="">
      <h2>
        This app helps to generate arguments chunk to visualize your data based on the MatPlotLib and Seaborn packages! (keeps updating)
      </h2>
    </div>
    
    <br>
    
    <div class ="">
      <form action = "/choose_plotting_type" class="">
        <div>
          <label for="plotting_type">
            Please choose a plotting type that you desire
          </label>
        </div>
        <div>
          <select class="" id="plotting_type" name="plotting_type">
            <option value="Bar Chart"> Bar Chart </option>
            <option value="Pie Chart"> Pie Chart </option>
            <option value="Box Plot"> Box Plot </option>
            <option value="Histogram"> Histogram </option>
            <option value="Line Chart"> Line Chart </option>
            <option value="Scatter Plot"> Scatter Plot </option>
          <select>
        </div>
        <button>Let's Go!</button>
      </form>
    </div>
    <br>
    <div class="">
    Not sure which type of graph to use?
    <a href ="/hesitate">
      This may help...
    </a>
    </div>
  </body>


</html>
