<div class="whole">
  <br>
  <h2> Reference</h2>
    <ol class=""><h4>
      <li>
        Stylesheets: <a href=https://getbootstrap.com/docs/5.1>getbootstrap</a>
      </li>
      <li>
        Arguments display styling: <a href="https://stackoverflow.com/questions/62029757/nicely-formatted-python-code-in-html-files"> stack overflow answers</a>
      </li>
      <li>
        Revision link: <a href="https://www.plus2net.com/html_tutorial/history-back.php"> plus2net</a>
      </li>
      <li>
        Run python script in html: <a href="https://pyscript.net/"> PyScript</a>
      </li>
      <li>
        Plot data using py-script: <a href="https://www.youtube.com/watch?v=OopCsR9zx2I"> 1littlecoder</a>
      </li>
    
    </ol>
</div>
