<div class="whole">
  <br>
  <h2> Reference</h2>
    <ol class=""><h5>
      <li>
        Stylesheets: <a href=https://getbootstrap.com/docs/5.1>getbootstrap</a>
      </li>
      <li>
        Arguments display styling: <a href="https://stackoverflow.com/questions/62029757/nicely-formatted-python-code-in-html-files"> stack overflow answers</a>
      </li>
      <li>
        Revision link: <a href="https://www.plus2net.com/html_tutorial/history-back.php"> plus2net</a>
      </li>
    </h5></ol>
</div>
