<div class= "whole">
<br>
  <div>
    <h1>
    <%if params.fetch("ax")!="default"%>
      <%arg_str_0=params.fetch("ax")%>
    <%else%>
      <%arg_str_0="ax"%>
    <%end%>
    <%arg_str=arg_str_0+"="+@function.to_s+"("%>
    <%params.keys.each do |a_key|%>
      <% if (a_key !="controller" && a_key !="action" && a_key !="the_type" && a_key!="set_title" && a_key!="set_xlabel" && a_key!="set_ylabel")%>
        <%if params.fetch(a_key)!="default" && params.fetch(a_key).strip!=""%>
          <%arg_str = arg_str+"#{a_key}=#{params.fetch(a_key)},"%>
        <%end%>
      <%end%>
    <%end%>
    <%if arg_str[-1] !="("%>
      <%arg_str=arg_str[0...-1]+")"%>
    <%else%>
      <%arg_str=arg_str+" )"%>
    <%end%>
<%if arg_str.include?("=,") || arg_str.include?("=)")||arg_str.chomp(")").strip[-1]=="("%>
    <h5 class="alert alert-danger" role="alert">Attention: You may want to double check your input.
    <a href = "javascript:history.back()">Click here to revise</a></h5>
<%end%>
<link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/styles/default.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
<pre><code class="python"><h6>
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
fig,ax = plt.subplots()
<%=arg_str%>
    <%params.keys.each do |a_key|%>
      <% if (a_key=="set_title" || a_key=="set_xlabel" || a_key=="set_ylabel") && params.fetch(a_key)!="default"%>
<%=arg_str_0+".#{a_key}(#{params.fetch(a_key)})"%>
      <%end%>
    <%end%>
</h6></code></pre>
    </h1>
  </div>


</div>
<br>
  <div>
    <link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css" />
    <script defer src="https://pyscript.net/alpha/pyscript.js"></script>
    <py-env>
      - pandas
      - seaborn
      - numpy
      - matplotlib
    </py-env>
  </div>

  <div class="whole">
    <div id="plot"></div>
    <py-script output="plot">

import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
from pyodide.http import open_url

#read a sample data - tips
url_target = open_url("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/tips.csv")
tips = pd.read_csv(url_target)
fig, ax = plt.subplots()
<%=arg_str%>
<%params.keys.each do |a_key|%>
<% if (a_key=="set_title" || a_key=="set_xlabel" || a_key=="set_ylabel") && params.fetch(a_key)!="default"%>
<%=arg_str_0+".#{a_key}(#{params.fetch(a_key)})"%>
<%end%>
<%end%>
fig
</py-script>

    <br>

  </div>

  <br>
